.main-category {
}

.leaf-category {
  padding-right: 20px;
}

.middle-category {
  padding-right: 10px;
}

.children-closed {
  height: 0;
  width: 100%;
  display: none;
}

.children-open {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55px;
  direction: rtl;
  align-items: center;
}

.name {
  direction: rtl;
  padding-right: 30px;
  width: 100%;
}

.button {
  width: 30px;
}
