//colors
$color-button-background: #3ecf8e;
$color-button-text: #fff;

$color-ui-background: #fff;

$color-border: #e4e4e4;

$color-text-primary: #000;
$color-text-secondary: #45424e;

//zindex
$zindex-invisible: -1;
$zindex-modal: 10;
$zindex-header: 5;

//font
$font-farsi-num: 'Samim FD';

//etc
$box-shadow: 0 10px 30px rgb(50 50 93 / 12%), 0 -1px 4px rgb(0 0 0 / 6%);
