.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 10px 0 10px;
}

.options {
  display: flex;
  flex-direction: row;
  width: 100%;
  direction: rtl;
  height: 56px;
}

.list {
  height: 100%;
  width: 100%;
}

.clickable {
  display: flex;
  flex-direction: row;
}

.option-label {
  padding: 0 5px;
}

.option-icon {
  padding: 0 5px;
}
