.header {
  width: 100%;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.inner {
  width: 100%;
  height: 100%;
  position: static;
}

.inner-flex {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.right-side {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-left: 20px;
}

.logo {
  font-size: 24px;
  flex-grow: 1;
  text-align: right;
}

.left-side {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.search-wrapper {
  margin-left: 30px;
}

.mini-cart {
}

.user-auth {
}

.menu-wrapper {
  background-color: #fff;
  height: 0;
}

.menu-closed {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s;
  background-color: #fff;
}

.menu-open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s;
  background-color: #fff;
}

.close {
  margin-left: 30px;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
}

.auth {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
