.header {
  width: 100%;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.inner {
  width: 100%;
  height: 100%;
  position: static;
}

.inner-flex {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.right-side {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-left: 20px;
}

.logo {
  font-size: 24px;
  flex-grow: 1;
  text-align: right;
}

.left-side {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.search-wrapper {
  margin-left: 30px;
}

.mini-cart {
}

.user-auth {
}

.menu-wrapper {
  background-color: #fff;
  height: 0;
}

.menu-closed {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s;
  background-color: #fff;
}

.menu-open {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s;
  background-color: #fff;
}

.close {
  margin-left: 30px;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
}

.auth {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.separator {
  padding: 0 5px;
}

.login {
}

.signup {
}

.cart-closed {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 15;
}

.cart-open {
  visibility: visible;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 15;
  /* padding: 20px 10px; */
}

.cart-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border-bottom: 1px solid #e4e4e4;
}

.close-cart {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-cart-button {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-list {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  overflow-y: scroll;
}

.cart-label {
  width: 100%;
  direction: rtl;
  font-weight: 500;
}

.cart-alter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart-alter-text {
  line-height: 26px;
  padding-bottom: 52px;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.order-button {
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #e4e4e4;
  color: black;
  border-radius: 5px;
}
