@import 'variables';

%wrapper-shared {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: $color-ui-background;
  transition: opacity 0.5s ease;
}

.wrapper-open {
  @extend %wrapper-shared;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.wrapper-closed {
  @extend %wrapper-shared;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  direction: rtl;
}

%dropdown-inner-shared {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-y: auto;
  background-color: $color-ui-background;
  border-radius: 5px;
  box-shadow: $box-shadow;
  transition: opacity 0.3s ease;
}

.dropdown {
  position: relative;
  width: 100%;
  max-height: 300px;
  flex-shrink: 0;
  z-index: -1;
  padding: 5px 15px;

  &-inner {
    &-visible {
      @extend %dropdown-inner-shared;
      opacity: 1;
      z-index: -1;
    }

    &-hidden {
      @extend %dropdown-inner-shared;
      opacity: 0;
      z-index: 10;
    }
  }
}

.close-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.input {
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-right: 5px;
  padding-left: 15px;
}

.alter {
  direction: rtl;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 4px;
}
