@import 'variables';
@import 'mixins';

.footer {
  display: flex;
  flex-direction: column;
}

.menu-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $color-ui-background-secondary;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 20px 0;
}

.menu-inner {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 600px;
    justify-content: space-around;
    flex-direction: row;
  }
}

.menu-item {
  text-align: center;
  margin: 6px 0;
  color: $color-text-secondary;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  @include desktop {
    flex-direction: row-reverse;
    padding: 20px 40px;
  }
}

.inner-right {
  width: 100%;

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;

  @include desktop {
    width: 200px;
    justify-content: space-between;
  }
}

.phone-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include desktop {
    width: 300px;
    justify-content: flex-end;
  }
}

.enamad-wrapper {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
