@import 'variables';

.phone {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  &-number {
    margin-right: 5px;
    font-family: $font-farsi-num;
    color: #848488;
  }
}

.icon-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
