@import 'variables';

.cart-item {
  display: flex;
  flex-direction: row;
  height: 98px;
  width: 100%;
  border: 1px solid $color-border;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px;
  direction: rtl;
}

.right {
  height: 100%;
  margin-left: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50%;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50%;
}

.name {
  width: 100%;
  font-weight: 500;
}

.remove {
  width: 25px;
}

.price {
  width: 100%;
  color: $color-text-secondary;
  font-size: 1.4rem;
}

.quantity-box {
  display: flex;
  flex-direction: row;
  width: 64px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid $color-border;
  flex: 0 0 auto;
}

.picture {
  width: 80px;
  height: 100%;
  border-radius: 5px;
}

.quantity {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 24px;
  color: $color-text-secondary;

  &-icon {
    width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
  }
}
