@import 'variables';
@import 'mixins';

.menu-wrapper {
  background-color: $color-ui-background;
  height: 0;

  @include desktop {
    height: 64px;
    border-top: 1px solid $color-border;
    background: $color-ui-background-secondary;
  }
}

%menu-shared {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
  z-index: $zindex-modal;
  overflow-y: auto;
  transition: right 0.3s;
  background-color: $color-ui-background;
}

.menu-closed {
  @extend %menu-shared;
  right: -100%;
}

.menu-open {
  @extend %menu-shared;
  right: 0;
}

.close {
  margin-left: 30px;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
}
